/* SECCION ACTIVIDADES */

.act__img{
    max-height: 350px;
}

.act__btn{
    color:rgba(255, 255, 255, 0.562);
    font-size: 1.2rem;
    width: 15%;
    min-width: 60px;
}

.act__btn:hover{
    color:rgba(255, 255, 255, 0.8);
}