/* SECCION ACTIVIDADES */

.act__img{
    max-height: 350px;
}

.act__btn{

}

.act__btn{
    color: $color_letra_primary;
    font-size: 1.2rem;
    width: 15%;
    min-width: 60px;
}

.act__btn:hover{
    color: $color_letra_terciary;
}