/* SUB-SECCIÓN GALERIA */

.galeria__title{
    @include title__bg;
    margin: 1%;
}

.galeria__container{
    width: 80%;
    margin-top: 0.4%;
}

.card{
    margin-bottom: 0.4%;
}

.modal__container{
    max-width: 750px;
    max-height: 485px;
}

.modal__link{
    background-color: none;
    margin-bottom: 0.5%;
    padding: 0;
    margin-right: 0.4%;
}

.modal__title{
    color: $color_letra_secondary;
}

.modal__button{
    color: #000000;
    background-color: #434649;
}

.modal__button:hover{
    color: #b5b9bd;
}

.img__modal{
    width: 100%;
    height: auto;
    max-height: 177.3px;
    cursor: pointer;
}

.img__modal:hover{
    opacity: 0.8;
}

.img__inmodal{
    width: 100%;
}

.video__modal{
    width: 100%;
    height: auto;
    min-height: 300px;
    cursor: pointer;
}