/* SUB-SECCIÓN TARTIFAS */

.gastro__title{
    font-size: $font_size_title;
    padding: 2%;
    border-bottom: solid 1.5px #2F3030;
}

.gastro__text{
    font-size: $font_size_text;
    margin-top: 2%;
}

.gastro__img{
    min-height: 276px;
}