
/* SECCIÓN INDEX */

.index__main{
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: solid 1px lightgray;
}

.carousel__main{
    height: 90vh;
}

.body__img{
    @extend .carousel__main;
}

.carousel-indicators [data-bs-target] {
    background-color: black;
}

.boton__link{
    color: $color_letra_primary;    
    text-decoration: none;
    width: 100%;
    height: auto;
    font-size: $font_size_text;
}

.boton__link:hover{
    color: $color_letra_terciary;
}

.btn__container{
    padding: 0;
}

.caption__container{
    border-radius: 20px;
}

.caption__text{
    font-size: $font_size_text;
    margin: 0;
}
