/* SECCIÓN SERVICIOS */

.card__servicios{
    margin: 5% 12.5% 5% 12.5%;
    border: solid 1px $color_letra_secondary;
    width: 75%;
    height: auto;
}

.servicios__img{
    max-height: 350px;
    min-height: 350px;
}
.servicios__title{
    color: black;
}

.servicios__btn{
    color: $color_letra_primary;
    font-size: $font_size_text;
}

.servicios__btn:hover{
    color: $color_letra_terciary;
}