/* SUB-SECCIÓN TARTIFAS */

.tarifa__text--primary{
    font-size: $font_size_text;
    background-color: rgba(168, 168, 168, 0.251);
    padding: 0.5%;
    margin-bottom: 0.2%;
    font-weight: bold;
}

.tarifa__text--secondary{
    @extend .tarifa__text--primary;
    background-color: $color_letra_secondary;
}

.temporadas{
    margin-top: 2%;
}

.temporadas__division{
    margin-top:4%;
    border-top: solid 1px $color_letra_secondary;
}

.legales__text{
    @extend .estado__text;
    border: none;
    margin-bottom: 2%;
}