/* SUB-SECCIÓN TARTIFAS */

.tarifa__text--primary{
    font-size: $font_size_text;
    background-color: rgba(168, 168, 168, 0.251);
    padding: 0.5%;
    margin-bottom: 0.2%;
    font-weight: bold;
}

.tarifa__text--secondary{
    @extend .tarifa__text--primary;
    background-color: $color_letra_secondary;
}

.temporadas{
    margin-top: 2%;
}

.temporadas__division{
    margin-top:4%;
    border-top: solid 1px $color_letra_secondary;
}

.legales__text{
    @extend .estado__text;
    border: none;
    margin-bottom: 2%;
}

// .tarifas__table{
//     display: grid;
//     justify-items: center;
//     height: auto;
//     grid-template-columns: repeat(9, 1fr);
//     grid-template-rows: repeat(13, 1fr);
//     grid-template-areas: 
//         ". 1 1 2 2 3 3 4 4"
//         ". 5 5 2 2 3 3 4 4 ";
// }

// $tarifas__grid: (
//     cerrado: #DC4423,
//     condicional: #FAAA1E,
//     abierto: #08B61A
// );

// @each $p, $numero in $tarifas__grid{
//     .p-#{$numero}{
//         color: $color;
//     }
// }

// @for $I from 1 through 25{
//     .p-#{$I}{
//         grid-area: $I;
//     }
// }