*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins&display=swap');

body{
    height: 100vh;
    overflow-x: hidden;
    background-image: url(../images/background.png);
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* .layout__wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 100vh auto;
    grid-template-areas: 
        "logo_n nav nav nav nav nav"
        "main main main main main main"
        "footer footer footer footer logo_f logo_f";
} */

/* @media screen (max-width:760px){
    .layout__wrapper{

    }    
} */

/* ACA COMIENZA EL HEADER */

.header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;
    position: sticky;
    top: 0px;
}

.logo{
    grid-area: logo_n;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    width: auto;
    height: 15vh;
    transition: all 0.5s;
}

/* .logo:hover{
    transform: scale(1.2);
} */

.logo__link{
    text-decoration: none;
    color: rgb(0, 0, 58);
}

.logo__img{
    width: auto;
    height: 100px;
}

.logo__title{
    min-width: 160px;
    font-size: 24px;
    text-align: center;
}

.navbar{
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 0;
    background-image: url(../images/bgazul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar__menu {
    list-style: none;
    width: 70%;
    margin: 5%;
    display: flex;
    justify-items: space-between;
    font-size:0 /* truco por el uso de inline-block*/
}

.menu__item {
    display: inline-block;
    width: 25%;
    height: 100%;
    position: relative;
    font-size: 18px;   
    padding: 2px 20px; 
    margin: 0 10px;
    border: solid 1px white;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
}

.menu__item:hover {    
    transform: scale(1.1);
    background-color: rgb(253, 253, 253, 0.2);
    color: white;
}

.menu__link{
    text-decoration: none;
    height: 100%;
    font-size: 18px;
    color: white;
    display: block;
    transition: all 0.5s;
}

.menu__link:hover{   
    color: white;
    transform: scale(1.1);
}

.navbar__submenu {
    position: absolute;
    display: none;
}

.submenu__item {
    display: block;
}

.menu__item:hover .navbar__submenu {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 3px;
    padding: 2px 0.5px 4px 0.5px;
    border-radius: 5px;
    background-image: url(../images/bgazul.jpg);
    position: fixed;
    top: auto;
    left: 0;
}

.menu__item:hover .submenu__item {
    color: white;
    margin: 2px;
    /* border-radius: 10px;
    border: solid 1px white; */
    transition: all 0.5s;
}

.menu__item:hover .submenu__link{
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.menu__item:hover .submenu__link:hover{   
    background-color: rgb(253, 253, 253, 0.2);
    color: white;
}

/* ACA COMIENZA EL MAIN */

main{
    background-image: url(../images/background.png);
}

.body__img{
    width: 100%;
}

.body__img{
    height: 85vh;
}

.main__container--index{
    grid-area: main;
}

.main__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin: 0 5% 5% 5%;
}

.contenedor__botones{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin: 0 5% 5% 5%;
}

.boton{
    background-color: rgb(0, 0, 58);
    border: solid 1px;
    border-radius: 5px;
    width: 33%;
    padding: 4px;
    text-align: center;
    margin: 2px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton:hover{
    background-color: rgb(0, 0, 58, 0.2);
}

.boton__link{
    color: white;    
    text-decoration: none;
    font-size: 18px;
    position: sticky;
    bottom: 0px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 5px;
    width: 100%;
}

.card__iframe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 5px;
    width: 100%;
}

.card__title{
    height: 40px;
    padding: 5px;
}

.card__title--title{
    text-align: center;
    font-size: 18px;
    width: 400px;
    padding-bottom: 5px;
    border-bottom: solid 1px;
}

.card__linkimg{
    height: 400px;
    margin: 10px 0 25px 0;
}

.card__link--iframe{
    width: 100%;
    margin: 10px 0 10px 0;
}

.card__img{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    transition: all 0.5s;
}

.card__img:hover{
    transform: scale(1.1);
    opacity: 0.7;
}

.card__img--servicios{
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.card__paragraph{
    height: 60px;
}

.card__paragraph--p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    max-width: 450px;
}

.card__button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.button__link{
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px rgb(59, 59, 59);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(59, 59, 59);
    transition: all 0.5s;
}

.button__link:hover{
    border: solid 1px white;
    color: white;
    background-color:rgb(59, 59, 59) ;
}

.form{
    width: 50%;
    margin: 2% 25% 2% 25%;
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 45px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

.form__fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
}

.fieldset__text{
    font-size: 14px;
    font-weight: bold;
}

.form__label{
    display: block;
    font-size: 12px;
}

.form__container{
    margin-bottom: 10px;
}

.form__label--checkbox{
    display: inline;
}

.form__checkbox{
    display: inline;
}

.form__button{
    border-radius: 5px;
    padding: 5px;
    margin: 20px 20px 0 0;
}

/* ACA COMIENZA EL FOOTER */

.footer{
    /* grid-area: footer; */
    background-image: url(../images/bgazul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.footer__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    list-style: none;
    width: 60%;
}

.footer__menu--item{
    grid-area: footer;
    display: inline-block;
    width: 25%;
    position:relative;
    font-size: 18px;   
    margin: 0 10px;
    text-align: center;
    border: solid 1px white;
    border-radius: 10px;
    transition: all 0.5s;
}

.footer__menu--item:hover{
    transform: scale(1.1);
    background-color: rgb(253, 253, 253, 0.2);
    color: white;
}

.footer__menu--link{
    color: white;
    border-radius: 10px;
    padding: 2px 20px; 
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: all 0.5s;
}

.footer__menu--link:hover{   
    color: white;
    transform: scale(1.1);
}

/* .footer__submenu {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding-top: 2px;
    border: solid 1px white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

.footer__submenu--item {
    list-style: none;
    margin: 2px;
    border-radius: 10px;
}

.footer__submenu--link{
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
} */

.logoredes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.logoredes__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
}

.logoredes__logo--img{
    width: 80px;
    height: 80px;
}

.logoredes__logo--link{
    text-decoration: none;
    text-align: center;
    color: white;
}

.logoredes__red{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}

.logoredes__red--link{
    text-decoration: none;
    padding: 10px;
}

.logoredes__red--img{
    width: 60px;
    height: 60px;
}
