*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins&display=swap');

body{
    height: 100vh;
    overflow-x: hidden;
    /* background-image: url(../images/background.png); */
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
}


@keyframe logo__animation{
    0% {display: none;}
    25% {opacity: 0.25;}
    50% {opacity: 0.50;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

/* ACA COMIENZA EL HEADER */

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 15vh;
    grid-template-areas: 
        "logo_n navbar";
}

.logo{
    grid-area: logo_n;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0;
    width: auto;
    height: 100%;
    animation-name: logo__animation;
    animation-delay: 2s;
    animation-duration: 300s;
}

.logo__link--img{
    text-decoration: none;
    color: rgb(0, 0, 58);
    height: 100%;
    display: inline-block;
}

.logo__link--title{
    text-decoration: none;
    color: rgb(0, 0, 58);
}

.logo__img{
    height: 100%;
}

.logo__title{
    min-width: 160px;
    font-size: 2.4rem;
    text-align: center;
    color: rgb(0, 0, 58);
}

.navbar{
    grid-area: navbar;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 0;
    background-image: url(../images/bgazul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar__menu {
    list-style: none;
    width: 70%;
    margin: 5%;
    display: flex;
    justify-items: space-between;
    font-size:0 /* truco por el uso de inline-block*/
}

.menu__item {
    display: inline-block;
    width: 25%;
    height: 100%;
    position: relative;
    font-size: 1.8rem;   
    padding: 2px 20px; 
    margin: 0 10px;
    border: solid 1px white;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
}

.menu__item:hover {    
    transform: scale(1.1);
    background-color: rgb(253, 253, 253, 0.2);
    color: white;
}

.menu__link{
    text-decoration: none;
    height: 100%;
    font-size: 1.8rem;
    color: white;
    display: block;
    transition: all 0.5s;
}

.menu__link:hover{   
    color: white;
    transform: scale(1.1);
}

.navbar__submenu {
    position: absolute;
    display: none;
}

.submenu__item {
    display: block;
}

.menu__item:hover .navbar__submenu {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 3px;
    padding: 2px 0.5px 4px 0.5px;
    border-radius: 5px;
    background-image: url(../images/bgazul.jpg);
    position: fixed;
    top: auto;
    left: 0;
}

.menu__item:hover .submenu__item {
    color: white;
    margin: 2px;
    transition: all 0.5s;
}

.menu__item:hover .submenu__link{
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    display: block;
}

.menu__item:hover .submenu__link:hover{   
    background-color: rgb(253, 253, 253, 0.2);
    color: white;
}



/* ACA COMIENZA EL MAIN */

.main__container--index{
    grid-area: main;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85% 7.5% 7.5%;
    grid-template-areas: 
        "img img img"
        "boton1 boton2 boton3"
        "boton4 boton5 boton6";
}

.img__container{
    grid-area: img;
}

.body__img{
    width: 100%;
    height: 100%;
}

.boton{
    background-color: rgb(0, 0, 58);
    border: solid 1px;
    border-radius: 5px;
    width: auto;
    height: 75%;
    padding: 4px;
    margin: 1%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton:hover{
    background-color: rgb(0, 0, 58, 0.2);
}

.boton__link{
    color: white;    
    text-decoration: none;
    width: 100%;
    height: auto;
    font-size: 1.8rem;
}

.boton1{
    grid-area: boton1;
}

.boton2{
    grid-area: boton2;
}

.boton3{
    grid-area: boton3;
}

.boton4{
    grid-area: boton4;
}

.boton5{
    grid-area: boton5;
}

.boton6{
    grid-area: boton6;
}

.main__container--montania{
    grid-area: main;
    display: grid;
    justify-items: center;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 0.5fr);
    grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5";
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin-top: 2%;
}

.card__reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 90%;
    width: 50%;
    margin-top: 2%;
}

.card__iframe{
    width: 50%;
}

.card__linkimg{
    height: 90%;
}

.card__text{
    padding: 0 2% 0 2%;
    width: 100%;
    height: auto;
}

.card__title{
    height: auto;
    padding: 5px;
}

.card__title--title{
    text-align: center;
    font-size: 18px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px;
}

.card__img{
    height: 200px;
    width: 150px;
    border-radius: 10px;
}

.card__img:hover{
    opacity: 0.7;
}

.card__paragraph{
    text-align: center;
    height: auto;
}

.card__paragraph--p{
    font-size: 14px;
    display: inline-block;
    height: auto;
}

.card__link--iframe{
    width: 100%;
    margin: 10px 0 10px 0;
}

.card1{
    grid-area: card1;
}

.card2{
    grid-area: card2;
}

.card3{
    grid-area: card3;
}

.card4{
    grid-area: card4;
}

.card5{
    grid-area: card5;
}

.main__container--actividades{
    grid-area: main;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        ". c1 c2 c3 ."
        ". c4 c5 c6 .";
    justify-items: center;
}

.cardact{
    margin-top: 5%;
    margin-bottom: 5%;
    border: solid 3px rgb(0, 0, 58);
}

.cardact__linkimg{
    height: 100%;
}

.cardact__title{
    padding: 2% 0 2% 0;
    margin-bottom: 0;
    width: 200px;
    height: 20px;
    background-color: rgb(0, 0, 58);
    color: white;
}

.cardact__title--title{
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
}

.cardact__img{
    height: 250px;
    width: 200px;
}

.cardact__paragraph{
    position: absolute;
    top: 50%;
    display: none;
}

.cardact__img:hover{
    opacity: 0.7;
}

.cardact__img:hover .cardact__paragraph{
    display: block;
}

.c1{
    grid-area: c1;
}

.c2{
    grid-area: c2;
}

.c3{
    grid-area: c3;
}

.c4{
    grid-area: c4;
}

.c5{
    grid-area: c5;
}

.c6{
    grid-area: c6;
}

.main__container--servicios{
    grid-area: main;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    grid-template-columns: 25% 1fr 1fr 25%;
    grid-template-rows: repeat(2, 350px);
    grid-template-areas: 
        ". c7 c8 ."
        ". c9 c10 .";
    justify-items: center;
}

.cardsv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.cardsv__title{
    padding: 5px 0 5px 0;
    margin-bottom: 0;
    width: 200px;
    height: 20px;
    background-color: rgb(0, 0, 58);
    color: white;
}

.cardsv__title--title{
    text-align: center;
    font-size: 18px;
    width: 100%;
}

.cardsv__linkimg{
    height: 100%;
    padding: 5% 0 0 0;
}

.cardsv__img{
    height: 200px;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card__paragraph{
    height: 60px;
}

.card__paragraph--p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    max-width: 450px;
}

.card__button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.button__link{
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px rgb(59, 59, 59);
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(59, 59, 59);
    transition: all 0.5s;
}

.button__link:hover{
    border: solid 1px white;
    color: white;
    background-color:rgb(59, 59, 59) ;
}

.c7{
    grid-area: c7;
}

.c8{
    grid-area: c8;
}

.c9{
    grid-area: c9;
}

.c10{
    grid-area: c10;
}

.main__container--contacto{
    display: flex;
    justify-content: center;
}

.form{
    width: 30%;
    margin: 5% 0 5% 0;
    padding: 3% 7% 3% 7%;
    border: 1px solid #CED5D7;
    border-radius: 2%;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

.form__container--general{
    margin: 0;
}

.form__fieldset{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10% 10% 10% 10%;
}

.fieldset__text{
    font-size: 1.4rem;
    font-weight: bold;
}

.form__label{
    display: block;
    font-size: 1.2rem;
}

.form__container{
    margin-bottom: 5%;
    width: 100%;
}

.form__label--checkbox{
    display: inline;
}

.form__checkbox{
    display: inline;
}

.form__button{
    border-radius: 5px;
    padding: 5px;
    margin: 20px 20px 0 0;
}

.form__item{
    width: 100%;
}

.form__item--textarea{
    width: 100%;
    height: 100%;
    min-height: 100px;
}

/* ACA COMIENZA EL FOOTER */

.footer{
    grid-area:footer;
    background-image: url(../images/bgazul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "fb1 fb2 fb3 fb4 l r r";
    justify-items: center;
    align-items: center;
}

.footer__button{
    grid-area: footer;
    display: inline-block;
    width: 75%;
    height: 25px;
    padding: 2px 0 2px 0;
    font-size: 18px;   
    margin: 0 10px;
    text-align: center;
    border: solid 1px white;
    border-radius: 10px;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__button:hover{
    transform: scale(1.1);
    background-color: rgb(253, 253, 253, 0.2);
    color: white;
}

.footer__button1{
    grid-area: fb1;
}

.footer__button2{
    grid-area: fb2;
}

.footer__button3{
    grid-area: fb3;
}

.footer__button4{
    grid-area: fb4;
}

.footer__button--link{
    color: white;
    max-width: 100%;
    border-radius: 10px;
    padding: 2px 20px 2px 20px; 
    text-decoration: none;
    font-size: 1.8rem;
    display: block;
    transition: all 0.5s;
}

.footer__button--link:hover{   
    color: white;
    transform: scale(1.1);
}

.logoredes__logo{
    grid-area: l;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    height: 100%;
}

.logoredes__logo--img{
    width: 80px;
    height: 80px;
}

.logoredes__logo--link{
    text-decoration: none;
    text-align: center;
    color: white;
}

.logoredes__red{
    grid-area: r;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}

.logoredes__red--link{
    text-decoration: none;
    padding: 10px;
}

.logoredes__red--img{
    width: 60px;
    height: 60px;
}



@media (max-width: 360px){
    .header{
        grid-template-columns: 60% 40%;
        grid-template-rows: 25vh;
        grid-template-areas: 
            "logo_n navbar";
    }
    .logo{
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
    }
    .logo__link--img{
        height: 70%;
        display: inline-block;
    }
    .logo__title{
        font-size: 1.8rem;
        text-align: center;
    }
    .navbar{
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    .navbar__menu {
        width: 100%;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .menu__item {
        height: 10%;
        width: 50%; 
        margin: 0px;
    }
    .menu__link{
        font-size: 1.2rem;
        text-align: center;
    }
    .main__container--index{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70% 10% 10% 10%;
        grid-template-areas: 
            "img img"
            "boton1 boton2"
            "boton3 boton4"
            "boton5 boton6";
    }    
    .main__container--montania{
        grid-area: main;
        display: grid;
        justify-items: center;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
            "card1"
            "card2"
            "card3"
            "card4"
            "card5";
    }
    .card{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
    }
    .card__reverse{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
    }
    .card__linkimg{
        height: 100%;
    }
    .card__img{
        width: 50vw;
        border-radius: 10px;
    }
    .card__text{
        margin-bottom: 2%;
        height:50%;
        min-height: 150px;
    }
    .card__iframe{
        width: 95%;
    }
    .main__container--actividades{
        grid-area: main;
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
            "c1"
            "c2"
            "c3"
            "c4"
            "c5"
            "c6";
        justify-items: center;
    }
    .main__container--servicios{
        grid-area: main;
        margin-top: 5%;
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
            "c7"
            "c8"
            "c9"
            "c10";
    }
    .form{
        width: 100%;
    }
    .footer{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, 0.5fr) 1fr;
        grid-template-areas: 
            "l l"
            "fb1 fb2"
            "fb3 fb4"
            "r r";
    }
    .footer__button--link{
        font-size: 12px;
    }
    .logoredes__logo{
        margin: 0px;
    }
    .logoredes__red{
        margin: 0px;
    }
}
