@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins&display=swap");
html {
  font-size: 62.5%; }

body {
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Outfit', sans-serif;
  font-family: 'Poppins', sans-serif; }

/* ACA COMIENZA EL HEADER - COMPATRIDO PARA TODAS*/
.header__margin {
  margin-right: -15px; }

.logo__img {
  width: 50px;
  height: 50px; }

.logo__cont {
  display: flex;
  align-items: center;
  margin-left: 1%; }

.logo__text {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.562);
  margin-bottom: 0;
  margin-left: 5%; }

.menuitem__prop {
  color: rgba(255, 255, 255, 0.562);
  font-size: 1.6rem !important; }

/* ACA COMIENZA EL FOOTER - COMPARTIDO PARA TODAS */
.logoredes__logo--img, .logoredes__red--img {
  width: 50px;
  height: 50px;
  padding: 5%; }

.logoredes__logo--link {
  margin: 2% 4% 2% 2%; }

.footer__button--link {
  color: rgba(255, 255, 255, 0.562);
  text-decoration: none;
  font-size: 1.4rem; }

.footer__button--link:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 1.4rem; }

.logoredes__logo--title {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.562);
  margin: 0; }

.menuitem__prop {
  color: rgba(255, 255, 255, 0.562);
  font-size: 1.4rem; }

.logoredes__logo--link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.562); }

/* SECCIÓN INDEX */
.index__main {
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: solid 1px lightgray; }

.carousel__main, .body__img {
  height: 90vh; }

.carousel-indicators [data-bs-target] {
  background-color: black; }

.boton__link {
  color: rgba(255, 255, 255, 0.562);
  text-decoration: none;
  width: 100%;
  height: auto;
  font-size: 1.4rem; }

.boton__link:hover {
  color: rgba(255, 255, 255, 0.8); }

/* SECCIÓN MONTAÑA */
.main__container--montania {
  display: grid;
  justify-items: center;
  height: auto;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 30% 30% 40%;
  grid-template-areas: "card1 card2" "card3 card4" "card5 card5"; }

.cardmont {
  margin: 5% 12.5% 5% 12.5%;
  border: solid 1px rgba(168, 168, 168, 0.651);
  width: 75%;
  height: auto; }

.imgmont {
  max-height: 240px; }

.cardmont__iframe {
  margin: 5% 12.5% 5% 12.5%;
  border: solid 1px rgba(168, 168, 168, 0.651);
  width: 75%;
  height: auto; }

.card__iframe--iframe {
  width: 100%; }

.card-text {
  font-size: 1.4rem; }

.card1 {
  grid-area: card1; }

.card2 {
  grid-area: card2; }

.card3 {
  grid-area: card3; }

.card4 {
  grid-area: card4; }

.card5 {
  grid-area: card5; }

/* SUB-SECCIÓN GALERIA */
.galeria__title {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.562);
  font-size: 1.8rem;
  padding: 1.5%;
  margin: 1%; }

.galeria__container {
  width: 80%;
  margin-top: 0.4%; }

.card {
  margin-bottom: 0.4%; }

.modal__container {
  max-width: 750px;
  max-height: 485px; }

.modal__link {
  background-color: none;
  margin-bottom: 0.5%;
  padding: 0;
  margin-right: 0.4%; }

.modal__title {
  color: rgba(168, 168, 168, 0.651); }

.modal__button {
  color: #000000;
  background-color: #434649; }

.modal__button:hover {
  color: #b5b9bd; }

.img__modal {
  width: 100%;
  height: auto;
  max-height: 177.3px;
  cursor: pointer; }

.img__modal:hover {
  opacity: 0.8; }

.img__inmodal {
  width: 100%; }

.video__modal {
  width: 100%;
  height: auto;
  min-height: 300px;
  cursor: pointer; }

/* SUB-SECCIÓN ESTADO DE PISTAS + EXTENDS A FICHA TÉCNICA */
.parte__title, .ficha__title--general, .mapa__title--general {
  border-bottom: solid 1.5px;
  margin: 2% 0 1% 0;
  padding: 0 0 1% 0;
  font-size: 1.8rem; }

.parte__text {
  font-size: 1.4rem;
  margin-bottom: 2%; }

.contenedor__div {
  margin-bottom: 2%;
  margin-top: 2%; }

.estado__title, .ficha__title {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.562);
  font-size: 1.8rem;
  padding: 1.5%;
  margin: 0 0 2% 0; }

.estado__subtitle {
  background-color: #B9C2BA;
  color: #2F3030;
  font-size: 1.8rem;
  padding: 1.5%;
  margin: 0 0 2% 0; }

.estado__text, .ficha__text, .legales__text {
  font-size: 1.4rem;
  margin: 0 0 0.5% 0;
  padding: 0;
  border-bottom: solid 1px rgba(168, 168, 168, 0.651); }

.estado__text--ppal, .ficha__text--ppal {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0 0 0.5% 0;
  padding: 0;
  border-bottom: solid 1px rgba(168, 168, 168, 0.651); }

.estado__cerrado {
  color: #DC4423; }

.estado__condicional {
  color: #FAAA1E; }

.estado__abierto {
  color: #08B61A; }

.area__title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1%; }

.dif__facil {
  background-color: green;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0; }

.dif__intermedio {
  background-color: blue;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0; }

.dif__dificil {
  background-color: red;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0; }

.dif__muy-dificil {
  background-color: black;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0; }

.dif__fuerapista {
  background-color: yellow;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 0; }

/* SUB-SECCIÓN MAPA DE PISTAS */
.mapa__div {
  margin: 2% 0 2% 0; }

/* SECCION ACTIVIDADES */
.act__img {
  max-height: 350px; }

.act__btn {
  color: rgba(255, 255, 255, 0.562);
  font-size: 1.4rem;
  width: 15%;
  min-width: 60px; }

.act__btn:hover {
  color: rgba(255, 255, 255, 0.8); }

/* SUB-SECCIÓN SKI Y SNOWBOARD */
.temporadas__division--ski {
  margin-top: 0;
  border-top: solid 1px rgba(168, 168, 168, 0.651); }

/* SUB-SECCIÓN CAMINATA CON RAQUETAS */
.camiraq__text {
  font-size: 1.4rem;
  margin: 1% 0 1% 0;
  padding: 0;
  border-bottom: solid 1px rgba(168, 168, 168, 0.651); }

/* SECCIÓN SERVICIOS */
.card__servicios {
  margin: 5% 12.5% 5% 12.5%;
  border: solid 1px rgba(168, 168, 168, 0.651);
  width: 75%;
  height: auto; }

.servicios__img {
  max-height: 350px;
  min-height: 350px; }

.servicios__title {
  color: black; }

.servicios__btn {
  color: rgba(255, 255, 255, 0.562);
  font-size: 1.4rem; }

.servicios__btn:hover {
  color: rgba(255, 255, 255, 0.8); }

/* SUB-SECCIÓN TARTIFAS */
.tarifa__text--primary, .tarifa__text--secondary {
  font-size: 1.4rem;
  background-color: rgba(168, 168, 168, 0.251);
  padding: 0.5%;
  margin-bottom: 0.2%;
  font-weight: bold; }

.tarifa__text--secondary {
  background-color: rgba(168, 168, 168, 0.651); }

.temporadas {
  margin-top: 2%; }

.temporadas__division {
  margin-top: 4%;
  border-top: solid 1px rgba(168, 168, 168, 0.651); }

.legales__text {
  border: none;
  margin-bottom: 2%; }

/* SUB-SECCIÓN TARTIFAS */
.gastro__title {
  font-size: 1.8rem;
  padding: 2%;
  border-bottom: solid 1.5px #2F3030; }

.gastro__text {
  font-size: 1.4rem;
  margin-top: 2%; }

.gastro__img {
  min-height: 276px; }

/* SECCIÓN CONTACTO */
.main__container--contacto {
  display: flex;
  justify-content: center; }

.form {
  width: 50%;
  margin: 5% 0 5% 0;
  padding: 3% 7% 3% 7%;
  border: 1px solid #CED5D7;
  border-radius: 2%;
  background-color: white;
  box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset; }

.form__container--general {
  margin: 0; }

.form__fieldset {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10% 10% 10% 10%; }

.fieldset__text {
  font-size: 1.6rem;
  font-weight: bold; }

.form__label {
  display: block;
  font-size: 1.4rem; }

.form__container {
  margin-bottom: 5%;
  width: 100%; }

.form__label--checkbox {
  display: inline; }

.form__checkbox {
  display: inline; }

.form__button {
  border-radius: 5px;
  padding: 5px;
  margin: 20px 20px 0 0;
  color: rgba(255, 255, 255, 0.562);
  width: 30%; }

.form__button:hover {
  color: rgba(255, 255, 255, 0.8); }

.form__item {
  width: 100%; }

.form__item--textarea {
  width: 100%;
  height: 100%;
  min-height: 100px; }

/* ACA COMIENZAN LAS MEDIA QUERIES */
@media (max-width: 768px) {
  .main__container--montania {
    display: grid;
    justify-items: center;
    height: auto;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 35% 35% 30%;
    grid-template-areas: "card1 card2" "card3 card4" "card5 card5"; }
  .imgmont {
    max-height: 100px; }
  .card__iframe--iframe {
    width: 100%;
    height: 80%; }
  .act__img {
    max-height: 200px; }
  .act__btn {
    min-width: 60px; } }

@media (max-width: 576px) {
  .main__container--montania {
    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "card1" "card2" "card3" "card4" "card5"; }
  .cardmont {
    width: 50%; }
  .cardmont__iframe {
    width: 75%; }
  .act__btn {
    min-width: 60px; }
  .form {
    width: 100%; } }

@media (max-width: 360px) {
  .main__container--montania {
    grid-area: main;
    display: grid;
    justify-items: center;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "card1" "card2" "card3" "card4" "card5"; }
  .cardmont {
    width: 50%; }
  .cardmont__iframe {
    width: 50%; }
  .act__btn {
    min-width: 60px; }
  .form {
    width: 100%; } }
